.hero-text {
    align-items: center;

    h1 {
        padding-top: 50px;
        text-align: center;
        font-family: PTSerif-Regular;
        font-size: 40px;
        color: white;
    }
    .hero-red {
        font-size: 20px;
        font-family: Gill;
        font-style: italic;
        color: #EE4367;
        text-align: center;
    }

    p {
        width: 420px;
        font-size: 20px;
        font-family: Gill;
        font-style: italic;
        text-align: center;
        color: white;
        margin-left: 420px;
    }
    .lorem {
        padding-top: 25px;
    }

    button{

        width: 121.62px;
        height: 40.04px;
        background-color: #EE4367;
        color: white;
        text-decoration: none;
        display: inline-block;
        margin-left: 560px;
        margin-top: 25px;
        border-radius: 0px;
        font-size: 15px;
        font-family: Gill;



    }
}

.paragraph {
    width: 1280px;
    height: 300px;
    margin: 0 auto;
    align-items: center;
    padding-top: 75px;
    margin-top: 75px;
}
    .home-para {
        width: 789px;
        height: 90px;
        text-align: left;
        font-size: 15px;
        font-family: 'Gill';
        color: #FFD140;
        text-decoration: none;
        font-style: italic;
        margin-left: 200px;
    }

    .john {
        font-size: 15px;
        color: #EE4367;
        font-family: PTSerif-Regular;
        text-decoration: none;
        margin-left: 200px;
        margin-top: 45px;
    }

    .title-john {
        font-size: 10px;
        color: #A8A8A8;
        font-family: PTSerif-Regular;
        text-decoration: none;
        margin-left: 200px;
    }



.events {
    width: 1280px;
    min-height: 400px;
    background-color: #540D6E;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .event-title {
        height: 35px;
        padding-left: 25px;
        padding-top: 25px;
        font-size: 25px;
        font-family: "Gill";
        color: white;
        .border-bottom {
            border-bottom: white solid 2px;
            position: absolute;
            width: 392px;
            white-space: nowrap;
        }
    }

    .dates {
        align-items: center;
        width: 1198px;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 50px;
        justify-content: space-between;

        

        div {
            width: 230px;
            height: 80%;
            position: relative;
          p {
            width: 140px;
            height: 41px;
            font-size: 15px;
            font-family: Gill;
            color: white;
            text-align: left;
            float: right;
            margin-bottom: 15px;
        }
        .red-text {
            width: 140px;
            height: 78px;
            color: #EE4367;
            position: absolute;
            bottom: 0px;
            right: 0px;
        }  
        }
        

        

    }


}