* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //border: red 2px solid;
    
}

body, html {
    height: 100%;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin-bottom: 16px;
}

@font-face {
    font-family: Gill;
    src: url(../css/fonts/GillSans.ttf);
}

@font-face {
    font-family: PTSerif-Bold;
    src: url(../css/fonts/PTSerif-Bold.ttf);
}

@font-face {
    font-family: PTSerif-BoldItalic;
    src: url(../css/fonts/PTSerif-BoldItalic.ttf);
}

@font-face {
    font-family: PTSerif-Italic;
    src: url(../css/fonts/PTSerif-Italic.ttf);
}

@font-face {
    font-family: PTSerif-Regular;
    src: url(../css/fonts/PTSerif-Regular.ttf);
}
