$site-red: #EE4367;
$site-yellow: #FFD140;
$site-teal: #3BCEAB;
$site-green: #08AD69;
$site-purple: #540D6E;
$site-red-rgb: rgba(238, 67, 103, 0.5);
$site-yellow-rgb: rgba(255, 209, 64, 0.5 );
$site-teal-rgb: rgba(8, 173,105, 0.5);
$site-green-rgb: rgba(8, 173, 105, 0.5);
$site-purple-rgb: rgba(84, 12, 110, 0.5);