.pancake {
    height: 100%;
    align-content: center;
    background-color: teal;
    background-repeat: no-repeat;
    background-size: cover;
    
    p {
        text-decoration: none;
    }

    img {
        height: 500px;
    }
}