.home {
background-color: aqua;
height: 100%;
background-image: linear-gradient(to right, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../images/depositphotos_24762569-stock-photo-fast-food-hamburger-hot-dog.jpg);
background-repeat: no-repeat;
background-size: cover;
}