* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Gill;
  src: url(../css/fonts/GillSans.ttf);
}
@font-face {
  font-family: PTSerif-Bold;
  src: url(../css/fonts/PTSerif-Bold.ttf);
}
@font-face {
  font-family: PTSerif-BoldItalic;
  src: url(../css/fonts/PTSerif-BoldItalic.ttf);
}
@font-face {
  font-family: PTSerif-Italic;
  src: url(../css/fonts/PTSerif-Italic.ttf);
}
@font-face {
  font-family: PTSerif-Regular;
  src: url(../css/fonts/PTSerif-Regular.ttf);
}
footer {
  width: 1280px;
  height: 455px;
  background-color: #EE4367;
  margin: 0 auto;
  text-align: center;
}
footer .footer-content {
  align-items: center;
}
footer .footer-content .footer-image {
  padding-top: 36px;
  margin-bottom: 46px;
}
footer .footer-content .footer-info {
  margin-bottom: 46px;
  color: white;
}
footer .footer-content .footer-message {
  width: 696px;
  height: 60px;
  margin: 0 auto;
  display: flex;
}
footer .footer-content .footer-message input {
  width: 529px;
  height: 100%;
  background-color: #F56888;
  padding-left: 23px;
}
footer .footer-content .footer-message input::placeholder {
  color: white;
  font-size: 16px;
  font-family: Gill;
  opacity: 50%;
}
footer .footer-content .footer-message button {
  margin-top: 21px;
  width: 167px;
  height: 100%;
  color: #EE4367;
  background-color: white;
  border: none;
}
footer .footer-content .social-media {
  filter: invert(100%);
  width: 156px;
  height: 31.92px;
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto 46px auto;
}
footer .footer-content .social-media img {
  width: 31.22px;
  height: 100%;
  align-items: center;
}
footer .footer-content .copyright {
  font-size: 12px;
  font-family: Gill;
  opacity: 50%;
}

.white_nav {
  width: 980px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: #fff solid 2px;
}
.white_nav .logo {
  width: 109px;
  height: 100%;
}
.white_nav .links {
  font-size: 15px;
  font-family: Gill;
  text-decoration: none;
  color: white;
}
.white_nav .links a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-family: Gill;
}
.white_nav .links span {
  color: #EE4367;
  font-size: 25px;
  margin: 10px;
}

.black_nav {
  width: 980px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: black solid 2px;
}
.black_nav .logo {
  width: 109px;
  height: 100%;
}
.black_nav .links {
  font-size: 15px;
  font-family: Gill;
  text-decoration: none;
  color: black;
}
.black_nav .links a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-family: Gill;
}
.black_nav .links span {
  color: #EE4367;
  font-size: 25px;
  margin: 10px;
}

.hero {
  width: 1280px;
  height: 500px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.5), rgba(255, 209, 64, 0.5)), url(../images/home-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
}

.hero-text {
  align-items: center;
}
.hero-text h1 {
  padding-top: 50px;
  text-align: center;
  font-family: PTSerif-Regular;
  font-size: 40px;
  color: white;
}
.hero-text .hero-red {
  font-size: 20px;
  font-family: Gill;
  font-style: italic;
  color: #EE4367;
  text-align: center;
}
.hero-text p {
  width: 420px;
  font-size: 20px;
  font-family: Gill;
  font-style: italic;
  text-align: center;
  color: white;
  margin-left: 420px;
}
.hero-text .lorem {
  padding-top: 25px;
}
.hero-text button {
  width: 121.62px;
  height: 40.04px;
  background-color: #EE4367;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-left: 560px;
  margin-top: 25px;
  border-radius: 0px;
  font-size: 15px;
  font-family: Gill;
}

.paragraph {
  width: 1280px;
  height: 300px;
  margin: 0 auto;
  align-items: center;
  padding-top: 75px;
  margin-top: 75px;
}

.home-para {
  width: 789px;
  height: 90px;
  text-align: left;
  font-size: 15px;
  font-family: "Gill";
  color: #FFD140;
  text-decoration: none;
  font-style: italic;
  margin-left: 200px;
}

.john {
  font-size: 15px;
  color: #EE4367;
  font-family: PTSerif-Regular;
  text-decoration: none;
  margin-left: 200px;
  margin-top: 45px;
}

.title-john {
  font-size: 10px;
  color: #A8A8A8;
  font-family: PTSerif-Regular;
  text-decoration: none;
  margin-left: 200px;
}

.events {
  width: 1280px;
  min-height: 400px;
  background-color: #540D6E;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.events .event-title {
  height: 35px;
  padding-left: 25px;
  padding-top: 25px;
  font-size: 25px;
  font-family: "Gill";
  color: white;
}
.events .event-title .border-bottom {
  border-bottom: white solid 2px;
  position: absolute;
  width: 392px;
  white-space: nowrap;
}
.events .dates {
  align-items: center;
  width: 1198px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  justify-content: space-between;
}
.events .dates div {
  width: 230px;
  height: 80%;
  position: relative;
}
.events .dates div p {
  width: 140px;
  height: 41px;
  font-size: 15px;
  font-family: Gill;
  color: white;
  text-align: left;
  float: right;
  margin-bottom: 15px;
}
.events .dates div .red-text {
  width: 140px;
  height: 78px;
  color: #EE4367;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.about {
  align-items: center;
}

.about-img {
  margin-top: 100px;
  margin-left: 460px;
  width: 980px;
  height: 378.75px;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.5), rgba(255, 209, 64, 0.5)), url(../images/about.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
}
.about-img h1 {
  font-size: 25px;
  font-family: "Gill";
  padding-top: 350px;
  display: flex;
}
.about-img .about-border {
  border-bottom: black solid 2px;
  position: absolute;
  width: 392px;
  white-space: nowrap;
}

.about-para {
  margin-left: 460px;
  width: 980px;
  height: 96px;
  font-size: 16px;
  font-family: Gill;
  font-style: italic;
  padding-top: 75px;
  margin-bottom: 150px;
}

.blog-title {
  margin-left: 460px;
  margin-top: 50px;
  align-items: left;
  font-size: 25px;
  font-family: "Gill Sans" sans-serif;
}
.blog-title .border-bottom {
  border-bottom: black solid 2px;
  position: absolute;
  width: 229px;
  white-space: nowrap;
}

.blogs {
  width: 960px;
  min-height: 514px;
  margin-left: 460px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 25px;
}
.blogs .june-blog {
  width: 460px;
  min-height: 257px;
}
.blogs .july-blog {
  width: 460px;
  min-height: 257px;
}
.blogs .aug-blog {
  width: 460px;
  min-height: 257px;
}
.blogs .nov-blog {
  width: 460px;
  min-height: 257px;
}
.blogs .dec-blog {
  width: 460px;
  min-height: 257px;
}
.blogs .blog-link {
  width: 380px;
  height: 140px;
  background-image: url(../images/blog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
  float: right;
}
.blogs .p {
  text-align: left;
}
.blogs .white-text {
  margin-top: 25px;
  width: 380px;
  float: right;
  font-size: 15px;
  font-family: "Gill Sans MT";
  text-decoration: none;
}
.blogs .red-text {
  width: 380px;
  float: right;
  font-size: 13px;
  color: #EE4367;
  font-family: "Gill Sans MT";
  text-decoration: none;
}

.blog-head {
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.5), rgba(238, 67, 103, 0.5)), url(../images/blog.jpg);
  width: 981px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
  margin-left: 460px;
  position: relative;
  margin-top: 50px;
}

.date-blog1 {
  background-image: url(../images/dates/june6.png);
  width: 155.25px;
  height: 155.25px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
  margin-left: 420px;
  margin-top: 65px;
}

.blog-paras {
  width: 856px;
  min-height: 436px;
  text-align: left;
  text-decoration: none;
  margin-left: 460px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.blog-h1 {
  color: #EE4367;
  font-family: "Gill";
  font-size: 20px;
}

.blog-h2 {
  margin-top: 75px;
  color: #EE4367;
  font-family: "Gill";
  font-size: 20px;
}

.para-1-5 {
  font-family: "Gill";
  font-size: 20px;
}

.para-1 {
  margin-bottom: 25px;
  font-family: "Gill";
  font-size: 20px;
}

.second-para {
  margin-bottom: 100px;
  font-family: "Gill";
  font-size: 20px;
}

.blog-head {
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.5), rgba(238, 67, 103, 0.5)), url(../images/blog.jpg);
  width: 981px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
  margin-left: 460px;
  position: relative;
  margin-top: 50px;
}

.date-blog2 {
  background-image: url(../images/dates/jul30.png);
  width: 155.25px;
  height: 155.25px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
  margin-left: 420px;
  margin-top: 65px;
}

.blog-paras {
  width: 856px;
  min-height: 436px;
  text-align: left;
  text-decoration: none;
  margin-left: 460px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.blog-h1 {
  color: #EE4367;
  font-family: "Gill";
  font-size: 20px;
}

.blog-h2 {
  margin-top: 75px;
  color: #EE4367;
  font-family: "Gill";
  font-size: 20px;
}

.para-1-5 {
  font-family: "Gill";
  font-size: 20px;
}

.para-1 {
  margin-bottom: 25px;
  font-family: "Gill";
  font-size: 20px;
}

.second-para {
  margin-bottom: 100px;
  font-family: "Gill";
  font-size: 20px;
}

.blog-head {
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.5), rgba(238, 67, 103, 0.5)), url(../images/blog.jpg);
  width: 981px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
  margin-left: 460px;
  position: relative;
  margin-top: 50px;
}

.date-blog3 {
  background-image: url(../images/dates/aug30.png);
  width: 155.25px;
  height: 155.25px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
  margin-left: 420px;
  margin-top: 65px;
}

.blog-paras {
  width: 856px;
  min-height: 436px;
  text-align: left;
  text-decoration: none;
  margin-left: 460px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.blog-h1 {
  color: #EE4367;
  font-family: "Gill";
  font-size: 20px;
}

.blog-h2 {
  margin-top: 75px;
  color: #EE4367;
  font-family: "Gill";
  font-size: 20px;
}

.para-1-5 {
  font-family: "Gill";
  font-size: 20px;
}

.para-1 {
  margin-bottom: 25px;
  font-family: "Gill";
  font-size: 20px;
}

.second-para {
  margin-bottom: 100px;
  font-family: "Gill";
  font-size: 20px;
}

.blog-head {
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.5), rgba(238, 67, 103, 0.5)), url(../images/blog.jpg);
  width: 981px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
  margin-left: 460px;
  position: relative;
  margin-top: 50px;
}

.date-blog4 {
  background-image: url(../images/dates/nov23.png);
  width: 155.25px;
  height: 155.25px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
  margin-left: 420px;
  margin-top: 65px;
}

.blog-paras {
  width: 856px;
  min-height: 436px;
  text-align: left;
  text-decoration: none;
  margin-left: 460px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.blog-h1 {
  color: #EE4367;
  font-family: "Gill";
  font-size: 20px;
}

.blog-h2 {
  margin-top: 75px;
  color: #EE4367;
  font-family: "Gill";
  font-size: 20px;
}

.para-1-5 {
  font-family: "Gill";
  font-size: 20px;
}

.para-1 {
  margin-bottom: 25px;
  font-family: "Gill";
  font-size: 20px;
}

.second-para {
  margin-bottom: 100px;
  font-family: "Gill";
  font-size: 20px;
}

.blog-head {
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.5), rgba(238, 67, 103, 0.5)), url(../images/blog.jpg);
  width: 981px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
  margin-left: 460px;
  position: relative;
  margin-top: 50px;
}

.date-blog5 {
  background-image: url(../images/dates/dec23.png);
  width: 155.25px;
  height: 155.25px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
  margin-left: 420px;
  margin-top: 65px;
}

.blog-paras {
  width: 856px;
  min-height: 436px;
  text-align: left;
  text-decoration: none;
  margin-left: 460px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.blog-h1 {
  color: #EE4367;
  font-family: "Gill";
  font-size: 20px;
}

.blog-h2 {
  margin-top: 75px;
  color: #EE4367;
  font-family: "Gill";
  font-size: 20px;
}

.para-1-5 {
  font-family: "Gill";
  font-size: 20px;
}

.para-1 {
  margin-bottom: 25px;
  font-family: "Gill";
  font-size: 20px;
}

.second-para {
  margin-bottom: 100px;
  font-family: "Gill";
  font-size: 20px;
}

.contact-title {
  font-size: 25px;
  font-family: "Gill";
  margin-left: 460px;
  margin-top: 50px;
}

.contact-border {
  border-bottom: black solid 2px;
  position: absolute;
  width: 350px;
  white-space: nowrap;
}

.contact-info {
  margin-left: 460px;
  margin-top: 25px;
  width: 1100px;
}

.name {
  margin-top: 90px;
}

.text-boxes {
  margin-top: 50px;
  right: 25px;
}

.message {
  width: 529px;
  height: 199px;
  border: none;
  left: 0;
  top: 0;
}

input {
  display: block;
  margin-top: 21px;
  padding-left: 21px;
  width: 529px;
  height: 60px;
  background-color: #F5F5F5;
  border: 0;
}

.contact-us {
  width: 167px;
  height: 60px;
  background-color: #EE4367;
  text-align: center;
  text-decoration: none;
  display: block;
  color: white;
  font-size: 16px;
  font-family: "Gill";
  margin-top: 25px;
  border: none;
  left: 0;
  top: 0;
  margin-bottom: 50px;
}

.map {
  background-image: url(../images/map.jpg);
  width: 400px;
  height: 442px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline;
  flex-direction: row;
  float: right;
  margin-right: 100px;
}

.gallery {
  align-items: center;
}
.gallery .gallery-title {
  font-size: 25px;
  font-family: Gill;
  padding-top: 50px;
  padding-left: 450px;
}
.gallery .gallery-title .gallery-border {
  border-bottom: black solid 2px;
  position: absolute;
  width: 229px;
  white-space: nowrap;
  margin-bottom: 25px;
}
.gallery .pictures {
  margin-left: 450px;
  margin-top: 35px;
}
.gallery .pictures .row-1 {
  width: 986px;
  justify-content: space-between;
  padding-bottom: 25px;
  margin-right: 25px;
  display: flex;
  flex-wrap: wrap;
}
.gallery .pictures .row-1 .food {
  width: 489px;
  height: 187px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.5), rgba(255, 209, 64, 0.5)), url(../images/gallery/1.png);
}
.gallery .pictures .row-1 .concert {
  width: 187px;
  height: 187px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.5), rgba(238, 67, 103, 0.5)), url(../images/gallery/2.jpeg);
}
.gallery .pictures .row-1 .speaker {
  width: 265px;
  height: 187px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(8, 173, 105, 0.5), rgba(8, 173, 105, 0.5)), url(../images/gallery/3.jpg);
}
.gallery .pictures .row-2 {
  width: 986px;
  justify-content: space-between;
  padding-bottom: 50px;
  margin-right: 25px;
  display: flex;
  flex-wrap: wrap;
}
.gallery .pictures .row-2 .dining {
  width: 603px;
  height: 306px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(84, 12, 110, 0.5), rgba(84, 12, 110, 0.5)), url(../images/gallery/4.jpg);
}
.gallery .pictures .row-2 .toronto {
  width: 355px;
  height: 306px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(8, 173, 105, 0.5), rgba(8, 173, 105, 0.5)), url(../images/gallery/5.png);
}

.gallery1 {
  align-items: center;
}

.gallery1-img {
  margin-top: 100px;
  margin-left: 450px;
  width: 980.5px;
  height: 400.5px;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.5), rgba(255, 209, 64, 0.5)), url(../images/gallery/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
}
.gallery1-img .big-letters {
  display: flex;
  align-items: center;
}
.gallery1-img h1 {
  margin-top: 118px;
  font-size: 300px;
  font-family: "Gill";
  color: #FFD140;
}
.gallery1-img h2 {
  margin-top: 230px;
  font-size: 140px;
  font-family: "Gill";
  color: #FFD140;
}

.gallery-paras {
  display: flex;
  margin-left: 450px;
  width: 980px;
  height: 96px;
  font-size: 16px;
  font-family: Gill;
  font-style: italic;
  padding-top: 25px;
  margin-bottom: 150px;
}

.gallery2 {
  align-items: center;
}

.gallery2-img {
  margin-top: 100px;
  margin-left: 450px;
  width: 980.5px;
  height: 400.5px;
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.5), rgba(238, 67, 103, 0.5)), url(../images/gallery/2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
}
.gallery2-img .big-letters {
  display: flex;
  align-items: center;
}
.gallery2-img h1 {
  margin-top: 118px;
  font-size: 300px;
  font-family: "Gill";
  color: #EE4367;
}
.gallery2-img h2 {
  margin-top: 230px;
  font-size: 140px;
  font-family: "Gill";
  color: #EE4367;
}

.gallery-paras {
  display: flex;
  margin-left: 450px;
  width: 980px;
  height: 96px;
  font-size: 16px;
  font-family: Gill;
  font-style: italic;
  padding-top: 25px;
  margin-bottom: 150px;
}

.gallery3 {
  align-items: center;
}

.gallery3-img {
  margin-top: 100px;
  margin-left: 450px;
  width: 980.5px;
  height: 400.5px;
  background-image: linear-gradient(to right, rgba(8, 173, 105, 0.5), rgba(8, 173, 105, 0.5)), url(../images/gallery/3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
}
.gallery3-img .big-letters {
  display: flex;
  align-items: center;
}
.gallery3-img h1 {
  margin-top: 118px;
  font-size: 300px;
  font-family: "Gill";
  color: #08AD69;
}
.gallery3-img h2 {
  margin-top: 230px;
  font-size: 140px;
  font-family: "Gill";
  color: #08AD69;
}

.gallery-paras {
  display: flex;
  margin-left: 450px;
  width: 980px;
  height: 96px;
  font-size: 16px;
  font-family: Gill;
  font-style: italic;
  padding-top: 25px;
  margin-bottom: 150px;
}

.gallery4 {
  align-items: center;
}

.gallery4-img {
  margin-top: 100px;
  margin-left: 450px;
  width: 980.5px;
  height: 400.5px;
  background-image: linear-gradient(to right, rgba(84, 12, 110, 0.5), rgba(84, 12, 110, 0.5)), url(../images/gallery/4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
}
.gallery4-img .big-letters {
  display: flex;
  align-items: center;
}
.gallery4-img h1 {
  margin-top: 80px;
  font-size: 300px;
  font-family: "Gill";
  color: #540D6E;
}
.gallery4-img h2 {
  margin-top: 240px;
  font-size: 115px;
  font-family: "Gill";
  color: #540D6E;
}

.gallery-paras {
  display: flex;
  margin-left: 450px;
  width: 980px;
  height: 96px;
  font-size: 16px;
  font-family: Gill;
  font-style: italic;
  padding-top: 25px;
  margin-bottom: 150px;
}

.gallery5 {
  align-items: center;
}

.gallery5-img {
  margin-top: 100px;
  margin-left: 450px;
  width: 980.5px;
  height: 400.5px;
  background-image: linear-gradient(to right, rgba(8, 173, 105, 0.5), rgba(8, 173, 105, 0.5)), url(../images/gallery/5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-self: center;
}
.gallery5-img .big-letters {
  display: flex;
  align-items: center;
}
.gallery5-img h1 {
  margin-top: 118px;
  font-size: 300px;
  font-family: "Gill";
  color: #3BCEAB;
}
.gallery5-img h2 {
  margin-top: 230px;
  font-size: 140px;
  font-family: "Gill";
  color: #3BCEAB;
}

.gallery-paras {
  display: flex;
  margin-left: 450px;
  width: 980px;
  height: 96px;
  font-size: 16px;
  font-family: Gill;
  font-style: italic;
  padding-top: 25px;
  margin-bottom: 150px;
}